*.class

# Package Files #
*.jar
*.war
*.ear

# IDE Files #
.idea/
*.iml
.project
.classpath
.settings/

# Gradle wrapper #
.gradle/
build/
!gradle/wrapper/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

# Vagrant Files #
.vagrant
